/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary: #172b44;
    --ifm-color-primary-dark: #132336;
    --ifm-color-primary-darker: #101d2d;
    --ifm-color-primary-darkest: #0c1622;

    --ifm-color-primary-light: #1c3555;
    --ifm-color-primary-lighter: #203e65;
    --ifm-color-primary-lightest: #254877;

    --ifm-code-font-size: 95%;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
    --ifm-color-primary: #4a6fa4;
    --ifm-color-primary-dark: #42648f;
    --ifm-color-primary-darker: #3d5c83;
    --ifm-color-primary-darkest: #334c6b;

    --ifm-color-primary-light: #527bb8;
    --ifm-color-primary-lighter: #5e89c6;
    --ifm-color-primary-lightest: #6b97d4;

    --docusaurus-highlighted-code-line-bg: rgba(255, 255, 255, 0.1);
}

